<!DOCTYPE html>
<html>
<head>
  <title>PracticeProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:notice].nil? %>

<% flash[:notice].each do |alert|%>
<%= alert %>
<% end %>

<% end %>

<%= yield %>

<form action="<%=session_url%>" method="post">
	<input type="hidden" name="authenticity_token"
	value="<%= form_authenticity_token%>">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="logout">
</form>

</body>
</html>
